<!DOCTYPE html>
<html lang="en">
<head>
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="ProfileStyle.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="profile.js"></script>

    <title>Profile</title>
</head>
<body>
    <div class="mx-auto">
    <img src="https://image.freepik.com/free-photo/woman-making-square-with-hands_23-2148369476.jpg" id="icon" alt="User Icon" height="900" width="200" class="img"/>

                </div>
                        <div class="container">
                        <div class="d-flex justify-content-center h-20">
                            <div class="card">
                                <div class="card-header">
                                    <h2> Update Profile </h2>
                                </div>
                                <div class="card-body">
                                       <!-- <div class="input-group form-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="name" id= "name">
                                            
                                        </div>
                                        <div class="input-group form-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                                            </div>
                                            <input type="password" class="form-control" placeholder="email" id = "email">
                                        </div>
                                        <div class="input-group form-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="username" id= "username">
                                        </div>
                                        <div class="input-group form-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-cog fa-spin"></i></span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="password" id= "password">
                                        </div>
                                        <div class="input-group form-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-cog fa-pulse"></i></span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="confirm" id= "confirm">
                                        </div>
                                        <div class="input-group form-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-bolt"></i></span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="dancer" id= "dancer">
                                        </div>
                                        <div class="form-group">
                                            <button value="Login" class="login_btn" id= "button" > Submit </button>
                                        </div>-->
                                </div>
                                </div>
                                </div>
                                </div>

                                